@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700&display=swap');

:root {

    /* color pallete */
    --yellow: #FDDC00;
    --purple: #9000FF;
    --darkpuple: #261A2E;
    --white: #FEFEFE;
    --red: #FF0000;
    --bg: #161A1D;

    /* shadow */
    --shadow: 8px 10px 8px rgba(0, 0, 0, 0.6);
}

body {

    background-color: var(--bg);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Urbanist', sans-serif;
}

section {

    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {

    max-width: 1300px;
    width: 100%;
    padding-inline: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {

    width: 260px;
    margin-inline: 60px;
    position: relative;
    padding: 25px 22px;
    background-color: var(--darkpuple);
    border-radius: 5px;
    box-shadow: 4px 8px 30px rgba(0, 0, 0, 0.6);
    transition: all .6s ease;
    cursor: pointer;
}

.card .float-dots {

    position: absolute;
    top: -15px;
    right: -15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card .float-dots div:nth-child(1) {

    background-color: var(--yellow);
    padding: 14px 7px;
    border-radius: 10px;
    color: var(--purple);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    box-shadow: var(--shadow);
    transition: all .6s ease;
}

.card:hover .float-dots div:nth-child(1) {

    transform: translate(-50px, -30px);
}

.card .float-dots div:nth-child(2) {

    background-color: var(--purple);
    border-radius: 10px;
    padding: 4px;
    color: var(--white);
    font-size: 0;
    font-weight: 700;
    margin-bottom: 10px;
    box-shadow: var(--shadow);
    transition: all .6s ease;
}

.card:hover .float-dots div:nth-child(2) {

    padding: 8px;
    font-size: 16px;
    transform: translate(70px, -45px);
}

.card .float-dots div:nth-child(3) {

    background-color: var(--white);
    border-radius: 10px;
    padding: 4px;
    box-shadow: var(--shadow);
    transition: all .6s ease;
}

.card:hover .float-dots div:nth-child(3) {

    padding: 15px;
    transform: translate(-20px, -45px);
}

.card .title h1 {

    font-size: 20px;
    font-weight: 500;
    color: var(--white);
}

.card .image {

    width: 200px;
    height: 200px;
    position: relative;
    z-index: 2;
    margin: 70px auto;
    background-image: url(img/headset1.svg);
    background-size: contain;
    background-position: center;
    transition: transform .6s ease, background-image .5s ease;
}

.card:hover .image {

    background-image: url(img/headset2.svg);
    transform: scale(1.55) translateX(-24px);
}

.card .card-footer {

    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    position: relative;
}

.card .card-footer span {

    color: var(--purple);
    font-size: 18px;
    font-weight: 500;
    transition: all .3s ease;
}

.card:hover .card-footer span {

    opacity: 0;
}

.card .card-footer .btn-buy {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    height: 34px;
    background-color: var(--white);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--darkpuple);
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    box-shadow: var(--shadow);
    transition: transform .7s ease;
    transform: translateY(80px);
    opacity: 0;
}

.card .card-footer .btn-buy:hover{

    background-color: var(--red);
    color: var(--white);
}

.card:hover .card-footer .btn-buy {

    transform: translateY(0);
    opacity: 1;
}

.card .hover-reviews {

    position: absolute;
    left: -110px;
    top: 22%;
    z-index: 1;
    padding: 18px 10px;
    border-radius: 10px;
    background-color: var(--purple);
    box-shadow: var(--shadow);
    transition: all .6s ease;
    transform: scale(0);
    transform-origin: top right;
}

.card:hover .hover-reviews {

    transform: scale(1);
}

.card .hover-reviews a {

    font-size: 15px;
    font-weight: 700;
    color: var(--white);
    display: block;
    margin-bottom: 15px;
}

.card .hover-reviews i {

    font-size: 24px;
    color: var(--yellow);
    margin-inline: 2px;
    text-shadow: var(--shadow);
}

.card .hover-reviews i:last-child {

    color: var(--white);
}

.card .hover-infos {

    position: absolute;
    width: 140px;
    right: -85px;
    bottom: 22%;
    z-index: 1;
    text-align: end;
    color: var(--white);
    padding: 12px 10px;
    border-radius: 10px;
    background-color: var(--red);
    box-shadow: var(--shadow);
    transition: all .6s ease;
    transform: scale(0);
    transform-origin: top left;
}

.card:hover .hover-infos {

    transform: scale(1);
}

.card .hover-infos .type,
.card .hover-infos .brand {

    font-size: 15px;
    font-weight: 700;
    display: block;
}

.card .hover-infos .brand {

    font-weight: 200;
    padding-bottom: 10px;
}

.card .hover-infos .prizes {

    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.card .hover-infos .prizes i {

    font-style: normal;
    color: #FDDC00;
    font-size: 15px;
    margin-right: 5px;
}

.card .hover-arrow-left {

    position: absolute;
    left: -90px;
    bottom: 0;
    z-index: 2;
    width: 140px;
    transition: all .2s ease-out;
    transform: translate(-70px, 90px);
    opacity: 0;
}

.card:hover .hover-arrow-left {

    opacity: 1;
    transform: translate(0);
    animation: bounceLeft infinite 1.6s;
    transition: all .6s ease-in-out;
}


@keyframes bounceLeft {
    0% {

        bottom: 0;
        left: -90px;
    }

    50% {

        bottom: 15px;
        left: -80px;
    }

    100% {

        bottom: 0;
        left: -90px;
    }
}

.card .hover-arrow-right {

    position: absolute;
    right: -100px;
    top: 100px;
    z-index: 2;
    width: 140px;
    transition: all .2s ease-out;
    transform: translate(70px, -90px);
    opacity: 0;
}

.card:hover .hover-arrow-right {

    opacity: 1;
    transform: translate(0) rotate3d(1, 1, 1, -12deg);
    animation: bounceRight infinite 1.6s;
    transition: all .6s ease-out;
}


@keyframes bounceRight {
    0% {

        right: -100px;
        top: 100px;
    }

    50% {

        right: -115px;
        top: 90px;
    }

    100% {

        right: -100px;
        top: 100px;
    }
}

.card .yellow-circle{

    position: absolute;
    right: 0;
    top: 20%;
    width: 144px;
    height: 300px;
    overflow: hidden;
    z-index: 0;
}

.card .yellow-circle div{

    width: 288px;
    height: 277px;
    background: conic-gradient(transparent 180deg, var(--yellow) 180deg);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -290px;
    box-shadow: var(--shadow);
    transition: all 1s ease;
}

.card:hover .yellow-circle div{

    transition: all .5s ease;
    right: -144px;
}


.card .purple-circle{

    position: absolute;
    left: 0;
    bottom: 12%;
    width: 130px;
    height: 200px;
    overflow: hidden;
    z-index: 0;
}

.card .purple-circle div{

    width: 210px;
    height: 181px;
    background: conic-gradient(var(--purple) 180deg, transparent 180deg);
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: -230px;
    box-shadow: var(--shadow);
    transition: all .8s ease;
}

.card:hover .purple-circle div{

    transition: all .6s ease;
    top: 0;
    left: -110px;
}